doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Adsviewer
    style.
      input {
        width: 90%;
        height: 40px;
        border-radius: 10px;
      }
      button {
        background-color: #00f;
        color: white;
        cursor: pointer;
      }
  body
    div(style="width: 100%")
      div(style="margin-top: 50px; width:80%; padding: 20px; margin-left: 10%; box-shadow: 2px 3px 6px 4px rgba(0, 0, 0, 0.5)")
        h1(style="text-align: center;") Adsview #{url}
        div(style="font-size:20px; text-align:center;") #{message}
        div(style="font-size:14px; color:#00f; text-decoration:underline; text-align:center;") Delivery task on #{url}
        div(style="margin-top: 20px; text-align: center;")
          p 100% Real Traffic & Organic
          p Perfect for all Ads publishing
          p
            a(href="https://newdich.tech" style="color: #00f; text-decoration: underline;") Checkout more of Newdich's services and softwares here
        div(style="margin-top: 60px; text-align: center;")
          | &copy; Newdich Technology
